<div class="chat-container" #chatMessages>
  <div class="col-auto chat-messages">
    <ng-container *ngFor="let message of messages">
      <div *ngIf="message.text.trim().length > 0"
           [ngClass]="{'user-message': message.sender === 'user', 'server-message': message.sender === 'server'}">
        <markdown *ngIf="!isConnected">
          {{ message.text }}
        </markdown>
        <div *ngIf="isConnected">
          {{ message.text }}
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row chat-input">
    <form (ngSubmit)="sendMessage()">
      <app-error/>
      <button class="responding-button btn" (click)="closeWebSocket()" *ngIf="isConnected">Responding...</button>
      <div class="input-group">
        <textarea [(ngModel)]="messageToSend" class="form-control" aria-label="With textarea" name="messageToSend"
                  (keydown.enter)="submitForm($event)"></textarea>
        <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">Send</button>
      </div>
    </form>
  </div>
</div>
