.error-message {
  align-self: flex-start;
  background-color: #ffcccc;
  color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  max-width: 80%;
  box-sizing: border-box;
  text-align: center;
}
